
@charset "utf-8";
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.flex-v {
  -webkit-box-orient: vertical;
  -ms-flex-direction: column;
  flex-direction: column;
}
.flex-1 {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.flex-align-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.flex-align-flex-end {
  -webkit-box-align: flex-end;
  -ms-flex-align: flex-end;
  align-items: flex-end;
}
.flex-pack-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.flex-flex-start-center {
  -webkit-box-pack: flex-start;
  -ms-flex-pack: flex-start;
  justify-content: flex-start;
}
.flex-pack-justify {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.flex-around-justify {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-around;
}
.flex-end-justify {
  -webkit-box-pack: flex-end;
  -ms-flex-pack: flex-end;
  justify-content: flex-end;
}
.flex-warp-justify {
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
}
.flex-nowrap-justify {
  -webkit-flex-wrap: nowrap;
  -moz-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  -o-flex-wrap: nowrap;
}
body {
  width: auto;
  overflow-x: hidden;
  -webkit-text-size-adjust: 100% !important;
  -moz-text-size-adjust: 100% !important;
   -ms-text-size-adjust: 100% !important;
       text-size-adjust: 100% !important;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 200rpx 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
/* this rule will be remove */
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  position: relative;
}
html,
body,
#app {
  width: 100%;
  height: 100%;
}
/******reset********/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
a,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  /* Firefox */
  -webkit-box-sizing: border-box;
  /* Safari */
  font-size: 1.27273rem;
}
body {
  font-family: Arial, "STHeiti", Helvetica, sans-serif;
  font-size: 1.27273rem;
  color: #444 !important;
  width: 100%;
  overflow-x: hidden;
  -webkit-overflow-x: hidden;
  -webkit-tap-highlight-color: transparent;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
fieldset,
img {
  border: 0;
}
legend {
  display: none;
}
ol,
ul {
  list-style: none;
}
caption,
th {
  text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}
q:before,
q:after {
  content: "";
}
abbr,
acronym {
  border: 0;
}
a {
  text-decoration: none;
}
html {
  -webkit-text-size-adjust: none;
  width: 100%;
}
/*????iphone??safari????????????*/
input[type="text"],
input[type="button"],
input[type="submit"],
input[type="search"] {
  -webkit-appearance: none;
  border-radius: 0;
  outline: none;
  color: #fff;
}
html,
body {
  width: auto;
  overflow-x: hidden;
  -webkit-text-size-adjust: 100% !important;
  -moz-text-size-adjust: 100% !important;
   -ms-text-size-adjust: 100% !important;
       text-size-adjust: 100% !important;
}
.bg {
  width: 100%;
  height: 100%;
}
.container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 26.66666667vw 1.33333333vw;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
}
.wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: absolute;
  top: 29.2vw;
  left: 4.66666667vw;
}
.item {
  width: 9.06666667vw;
  height: 9.06666667vw;
  margin: 0 0.66666667vw 0.26666667vw 0;
  z-index: 10;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}
.item img {
  width: 100%;
  height: 100%;
}
.item .lighted {
  position: absolute;
  width: 9.6vw;
  height: 9.6vw;
  top: -0.4vw;
  left: -0.13333333vw;
  z-index: 11;
}
.item.active {
  position: relative;
}
.column3 {
  margin-right: 3.06666667vw;
}
.column6 {
  margin-right: 3.06666667vw;
}
.mb {
  margin-bottom: 3.46666667vw;
}
.top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: absolute;
  top: 4.8vw;
  width: 100%;
  height: 9.33333333vw;
}
.top img {
  position: absolute;
  z-index: 2;
}
.back {
  width: 9.2vw;
  height: 9.46666667vw;
  left: 3.46666667vw;
}
.undo,
.restart {
  width: 27.6vw;
  height: 8.4vw;
  top: 0.66666667vw;
}
.undo {
  left: 15.46666667vw;
}
.restart {
  left: 15.46666667vw;
}
.top .base {
  width: 56vw;
  height: 9.33333333vw;
  z-index: 1;
  left: 14.93333333vw;
}
.logo {
  width: 20.13333333vw;
  height: 6vw;
  right: 5.06666667vw;
  top: 1.86666667vw;
}
.btnwrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-left: 1.6vw;
  position: absolute;
  bottom: 17.2vw;
  width: 14vw;
  height: 14vw;
}
.btnwrap img.btn {
  width: 14vw;
  height: 14vw;
  position: absolute;
  top: 0;
}
/* flex */
.flex {
  /* Safari */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
/* header */
header {
  line-height: 4.54545rem;
  background: #000;
  color: #fff;
  position: relative;
  text-align: center;
}
header .back {
  position: absolute;
  left: 5%;
  top: 0.90909rem;
}
/* tabs */
.taskTabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  right: 0;
  top: 3.72727rem;
  left: 0;
  height: 100%;
  background: #fff;
  height: 3.63636rem;
  line-height: 3.63636rem;
  z-index: 999;
  padding: 0 5%;
}
.taskTabs li {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
  border-bottom: 0.09091rem solid #eee;
}
.taskTabs .titilebCur {
  color: #4699ff;
  border-bottom: 0.18182rem solid #4699ff;
}
/* foot */
.footNav {
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0;
  line-height: 4.09091rem;
}
.footNav div {
  width: 50%;
  font-size: 1.54545rem;
  text-align: center;
  line-height: 4.09091rem;
  background: #409eff;
  height: 4.09091rem;
  color: #fff;
  background: -webkit-gradient(linear, left top, left bottom, from(#6db2f9), to(#409eff));
  background: linear-gradient(#6db2f9, #409eff);
}
.footNav .footCur {
  background: -webkit-gradient(linear, left top, left bottom, from(#409eff), to(#6db2f9));
  background: linear-gradient(#409eff, #6db2f9);
}
.icon-xianshi_jinggao {
  color: #409eff;
  margin-right: 0.27273rem;
}
.icon-yigouxuan {
  font-size: 1.27273rem !important;
}
.icon-yigouxuan,
.icon-weigouxuan {
  font-size: 1.27273rem !important;
}
.icon-weigouxuan {
  margin-right: 0.27273rem;
}
.icon-saoyisao {
  font-size: 2.18182rem !important;
  color: #777;
}
.icon-danxuan-weixuan {
  font-size: 2.18182rem !important;
  color: #409eff;
}
.icon-danxuanxuanzhong {
  font-size: 2.18182rem !important;
  color: #409eff;
}
.icon-sousuo {
  font-size: 2.18182rem !important;
}
.tag {
  font-size: 0.90909rem;
  border: 0.09091rem solid #4699ff;
  border-radius: 4.54545rem;
  padding: 0 0.54545rem;
}
.icon-shangchuantupian {
  font-size: 4.54545rem !important;
}
.icon {
  margin-right: 0.45455rem;
}
.icon img {
  width: 2rem;
  height: 1.45455rem;
  vertical-align: middle;
}
.icon .A {
  width: 1.63636rem;
  height: 1.63636rem;
}
.tag {
  font-size: 0.90909rem;
  border: 0.09091rem solid #4699ff;
  border-radius: 4.54545rem;
  padding: 0 0.54545rem;
}
.dots {
  background: url(./static/img/dots.png?v=cc88839) no-repeat left center;
  background-size: 0.63636rem 0.63636rem;
  padding-left: 1.09091rem;
}
.md-scroll-view-refresh {
  padding: 2.27273rem 0;
}
.md-scroll-view-refresh .refresh-tip {
  margin-left: 0.68182rem;
  font-size: 1.09091rem;
}
.md-scroll-view {
  height: -webkit-fill-available;
}
.md-switch {
  width: 3.63636rem;
  height: 2rem;
  border-radius: 2rem;
}
.md-switch:before {
  width: 3.63636rem;
  height: 2rem;
  border-radius: 2rem;
}
.md-switch:after {
  top: 0.18182rem;
  left: 0.18182rem;
  width: 1.81818rem;
  height: 1.63636rem;
}
.active:after {
  left: -1.09091rem;
}
.md-switch.active {
  background-color: #4699ff;
}
.md-input-item,
.md-input-item .md-input-item-control {
  min-height: 2.72727rem;
}
.md-field-item {
  width: 100%!important;
}
.md-field-item-content:before {
  background-color: #fff!important;
}
.md-input-item .md-input-item-control .md-input-item-fake,
.md-input-item .md-input-item-control .md-input-item-input {
  height: 2.72727rem;
  font-size: 1.27273rem;
}
.backMessage {
  z-index: 999;
  position: fixed;
  bottom: 15%;
  width: 100%;
}
.backMessage div {
  margin: 0 auto;
  height: 2.72727rem;
  line-height: 1.81818rem;
  border-radius: 1.36364rem;
  padding: 0.45455rem 0.90909rem;
  background: rgba(0, 0, 0, 0.7);
  font-size: 1.27273rem;
  color: #fff;
}
.md-dialog .md-dialog-content {
  border-radius: 0.45455rem;
  width: 18.18182rem;
}
.md-dialog .md-dialog-body {
  padding: 2.27273rem 1.36364rem 1.81818rem;
}
.md-dialog .md-dialog-actions a {
  font-size: 1.45455rem;
}
.md-dialog .md-dialog-actions a {
  height: 3.63636rem!important;
}

.sudoFourBox {
  width: 100%;
  height: 100%;
}
.sudoFourBox .item {
  width: 13.33333333vw;
  height: 13.33333333vw;
  display: inline-block;
}
.sudoFourBox .item .lighted {
  width: 13.86666667vw;
  height: 13.86666667vw;
}
.sudoFourBox .wrap {
  width: 67.6vw;
  left: 21.33333333vw;
  top: 34.13333333vw;
}
.sudoFourBox .column3 {
  margin-right: 5.6vw;
}
.sudoFourBox .mb {
  margin-bottom: 5.6vw;
}
.sudoFourBox .board {
  position: absolute;
  top: 28vw;
  width: 67.6vw;
  height: 71.06666667vw;
  z-index: 2;
  left: 17.33333333vw;
}
.sudoFourBox .btnwrap {
  bottom: 35.73333333vw;
  margin-left: 26vw;
}
.sudoFourBox .btnwrap .btn:nth-child(2) {
  left: 10vw;
}
.sudoFourBox .btnwrap .btn:nth-child(3) {
  left: 20.53333333vw;
}
.sudoFourBox .btnwrap .btn:nth-child(4) {
  left: 31.86666667vw;
}
/**app.wxss**/
.sudoSixBox {
  width: 100%;
  height: 100%;
  position: relative;
}
.sudoSixBox .bg {
  width: 100%;
  height: 100%;
}
.sudoSixBox .container {
  height: 100%;
  padding: 26.66666667vw 1.33333333vw;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
}
.sudoSixBox .wrap {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 29.2vw;
  left: 4.66666667vw;
}
.sudoSixBox .item {
  width: 9.06666667vw;
  height: 9.06666667vw;
  margin: 0 0.66666667vw 0.26666667vw 0;
  z-index: 10;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  position: relative;
}
.sudoSixBox .item img,
.sudoSixBox .item image {
  width: 100%;
  height: 100%;
}
.sudoSixBox .item .lighted {
  position: absolute;
  width: 9.6vw;
  height: 9.6vw;
  top: -0.4vw;
  left: -0.13333333vw;
  z-index: 11;
}
.sudoSixBox .item.active {
  position: relative;
}
.sudoSixBox .column3 {
  margin-right: 3.06666667vw;
}
.sudoSixBox .column6 {
  margin-right: 3.06666667vw;
}
.sudoSixBox .mb {
  margin-bottom: 3.46666667vw;
}
.sudoSixBox .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: absolute;
  top: 4.8vw;
  width: 100%;
  height: 9.33333333vw;
}
.sudoSixBox .top img,
.sudoSixBox .top image {
  position: absolute;
  z-index: 2;
}
.sudoSixBox .back {
  width: 9.2vw;
  height: 9.46666667vw;
  left: 3.46666667vw;
}
.sudoSixBox .undo,
.sudoSixBox .restart {
  width: 27.6vw;
  height: 8.4vw;
  top: 0.66666667vw;
}
.sudoSixBox .undo {
  left: 15.46666667vw;
}
.sudoSixBox .restart {
  left: 15.46666667vw;
}
.sudoSixBox .top .base {
  width: 56vw;
  height: 9.33333333vw;
  z-index: 1;
  left: 14.93333333vw;
}
.sudoSixBox .logo {
  width: 20.13333333vw;
  height: 6vw;
  right: 5.06666667vw;
  top: 1.86666667vw;
}
.sudoSixBox .btnwrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-left: 1.6vw;
  position: absolute;
  bottom: 17.2vw;
  width: 14vw;
  height: 14vw;
}
.sudoSixBox .btnwrap img.btn,
.sudoSixBox .btnwrap image.btn {
  width: 14vw;
  height: 14vw;
  position: absolute;
  top: 0;
}
.sudoSixBox .board {
  position: absolute;
  top: 28vw;
  width: 67.6vw;
  height: auto;
  z-index: 2;
  left: 17.33333333vw;
}
.sudoSixBox .wrap {
  width: 67.6vw;
  left: 21.33333333vw;
  top: 32.66666667vw;
}
.sudoSixBox .btnwrap {
  margin-left: 17.6vw;
  bottom: 35.46666667vw;
}
.sudoSixBox .btnwrap .btn:nth-child(1) {
  left: 0;
}
.sudoSixBox .btnwrap .btn:nth-child(2) {
  left: 10vw;
}
.sudoSixBox .btnwrap .btn:nth-child(3) {
  left: 20.53333333vw;
}
.sudoSixBox .btnwrap .btn:nth-child(4) {
  left: 31.86666667vw;
}
.sudoSixBox .btnwrap .btn:nth-child(5) {
  left: 41.33333333vw;
}
.sudoSixBox .btnwrap .btn:nth-child(6) {
  left: 51.6vw;
}
.sudoNineBox {
  width: 100%;
  height: 100%;
}
.sudoNineBox .wrap {
  position: absolute;
  top: 29.2vw;
  left: 4.66666667vw;
}
.sudoNineBox .board {
  width: 98.13333333vw;
  left: 0.93333333vw;
  position: absolute;
  top: 24.66666667vw;
}
.sudoNineBox .item {
  width: 9.06666667vw;
  height: 9.06666667vw;
  margin: 0 0.66666667vw 0.26666667vw 0;
  z-index: 10;
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}
.sudoNineBox .item image,
.sudoNineBox .item img {
  width: 100%;
  height: 100%;
}
.sudoNineBox .item .lighted {
  position: absolute;
  width: 9.6vw;
  height: 9.6vw;
  top: -0.4vw;
  left: -0.13333333vw;
  z-index: 11;
}
.sudoNineBox .item.active {
  position: relative;
}
.sudoNineBox .column3 {
  margin-right: 3.06666667vw;
}
.sudoNineBox .column6 {
  margin-right: 3.06666667vw;
}
.sudoNineBox .mb {
  margin-bottom: 3.46666667vw;
}
.sudoNineBox .numimg {
  position: relative;
  z-index: 10;
}
.sudoNineBox .btnwrap {
  margin-left: 1.6vw;
  position: absolute;
  bottom: 17.2vw;
  width: 14vw;
  height: 14vw;
}
.sudoNineBox .btnwrap .btn:nth-child(2) {
  left: 10vw;
}
.sudoNineBox .btnwrap .btn:nth-child(3) {
  left: 20.53333333vw;
}
.sudoNineBox .btnwrap .btn:nth-child(4) {
  left: 31.86666667vw;
}
.sudoNineBox .btnwrap .btn:nth-child(5) {
  left: 41.33333333vw;
}
.sudoNineBox .btnwrap .btn:nth-child(6) {
  left: 51.6vw;
}
.sudoNineBox .btnwrap .btn:nth-child(7) {
  left: 61.73333333vw;
}
.sudoNineBox .btnwrap .btn:nth-child(8) {
  left: 72vw;
}
.sudoNineBox .btnwrap .btn:nth-child(9) {
  left: 82.66666667vw;
}

@charset "utf-8";
.homeTitle {
  text-align: center;
  padding: 5% 0;
}
.homeTitle img {
  width: 6.36364rem;
  height: 3.18182rem;
}
.homeTitle h1 {
  font-size: 1.63636rem;
  line-height: 3.18182rem;
}
.banner {
  width: 70%;
  margin: 0 auto;
  height: 8.18182rem;
  background: #409eff;
  margin-bottom: 0.90909rem;
}
.banner img {
  width: 100%;
  height: 100%;
}
.menus {
  width: 70%;
  margin: 0 auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 1.36364rem;
}
.menus > div {
  width: 50%;
  text-align: center;
  height: 6.36364rem;
  margin-top: 2.27273rem;
}
.menus > div img {
  width: 3.81818rem;
  height: 3.90909rem;
}
.menus > div h3 {
  margin-top: 0.90909rem;
}
.cartogram {
  width: 80vw;
  margin: 1.81818rem auto 0;
  background: #eee;
}
.cartogram .catTop {
  background: #ccc;
  height: 4.54545rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 0%;
}
.cartogram .catTop div {
  width: 50%;
  line-height: 2.27273rem;
  padding-left: 3.18182rem;
  color: #fff;
  position: relative;
  font-size: 1.18182rem;
}
.cartogram .catTop div .dot {
  width: 0.45455rem;
  height: 0.45455rem;
  border-radius: 50%;
  background: #fff;
  display: inline-block;
  margin-right: 0.45455rem;
  position: absolute;
  left: 2.27273rem;
  top: 0.81818rem;
}
.chat {
  background: #eee!important;
  height: auto!important;
}

.resultBox {
  width: 100%;
  height: 100vh;
  position: relative;
  /* result.wxss */
}
.resultBox .bg {
  width: 100%;
  height: 100%;
}
.resultBox .board {
  width: 98.13333333vw;
  left: 0.93333333vw;
  position: absolute;
  top: 24.66666667vw;
}
.resultBox .wrap_9 {
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
  z-index: 20;
  left: 2.66666667vw;
  top: 9.6vw;
}
.resultBox .wrap_4 {
  width: 56.93333333vw;
  left: 26vw;
  top: 30.13333333vw;
}
.resultBox .wrap_4 .item {
  width: 10.66666667vw;
  height: 10.66666667vw;
}
.resultBox .wrap_4 .item .lighted {
  width: 11.2vw;
  height: 112.53333333vw;
}
.resultBox .wrap_6 {
  width: 46.66666667vw;
  left: 26.66666667vw;
  top: 30.66666667vw;
}
.resultBox .wrap_6 .item {
  width: 6.66666667vw;
  height: 6.66666667vw;
  margin: 0 0.66666667vw 0.26666667vw 0;
  z-index: 10;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}
.resultBox .wrap_6 .item .lighted {
  position: absolute;
  width: 7.2vw;
  height: 7.2vw;
  top: -0.4vw;
  left: -0.13333333vw;
  z-index: 11;
}
.resultBox .wrap_6 .column3 {
  margin-right: 3.2vw;
}
.resultBox .wrap_6 .mb {
  margin-bottom: 3.2vw;
}
.resultBox .monkey,
.resultBox .icon {
  position: absolute;
  z-index: 20;
  -webkit-transform: scale(1);
          transform: scale(1);
}
.resultBox .pass {
  width: 30.4vw;
  height: 27.73333333vw;
  left: 34.13333333vw;
  top: 3.73333333vw;
}
.resultBox .passi {
  width: 26.66666667vw;
  height: 21.6vw;
  top: 55.2vw;
  left: 59.73333333vw;
}
.resultBox .great {
  left: 34vw;
  top: 4.66666667vw;
  width: 29.33333333vw;
  height: 23.73333333vw;
}
.resultBox .greati {
  width: 23.6vw;
  height: 21.46666667vw;
  top: 56vw;
  left: 62.13333333vw;
}
.resultBox .perfect {
  width: 29.06666667vw;
  height: 25.06666667vw;
  left: 34vw;
  top: 5.6vw;
}
.resultBox .perfecti {
  width: 28vw;
  height: 25.06666667vw;
  left: 63.73333333vw;
  top: 50.93333333vw;
}
.resultBox .btn {
  position: absolute;
  left: 35.73333333vw;
  top: 78.66666667vw;
  width: 29.33333333vw;
  height: 10.13333333vw;
}
.resultBox .result {
  width: 66.13333333vw;
  height: 9.6vw;
  position: absolute;
  left: 17.33333333vw;
  font-size: 6.4vw;
}
.resultBox .result span {
  position: absolute;
  top: 0;
  left: 28vw;
  width: 13.33333333vw;
  text-align: center;
  height: 9.6vw;
  line-height: 6.4vw;
  display: block;
}
.resultBox .result span.r {
  left: 46.66666667vw;
}
.resultBox .result img,
.resultBox .result image {
  width: 100%;
  height: 100%;
}
.resultBox .time {
  top: 94vw;
}
.resultBox .time span {
  color: #ef3131;
}
.resultBox .error {
  top: 103.6vw;
}
.resultBox .count {
  top: 113.33333333vw;
}
.resultBox .avg {
  top: 122.93333333vw;
}
.resultBox .resultkuang {
  width: 66.66666667vw;
  height: 81.33333333vw;
  position: absolute;
  left: 16.66666667vw;
  top: 5.33333333vw;
  pointer-events: none;
}

@charset "utf-8";
#index[data-v-4cb94e2a] {
  font-size: 1.45455rem;
}

@charset "utf-8";
.amap-box[data-v-0cc0440e] {
  width: 31.81818rem;
  height: 31.81818rem;
}
#l-map[data-v-0cc0440e] {
  height: 27.27273rem;
  width: 100%;
}
#r-result[data-v-0cc0440e] {
  width: 100%;
}

@charset "utf-8";
.loginBox {
  padding: 12% 5%;
  background: #4699ff;
  height: 100%;
}
.loginBox .logoImg {
  border-radius: 50%;
  text-align: center;
  margin: 0 auto;
}
.loginBox .logoImg img {
  width: 9.09091rem;
  height: 9.09091rem;
  border-radius: 50%;
}
.loginBox h1 {
  font-size: 1.81818rem;
  margin-top: 1.81818rem;
  text-align: center;
  color: #fff;
}
.loginBox h3 {
  color: #fff;
  border: 0.09091rem solid #fff;
  line-height: 2.72727rem;
  padding: 0 0.45455rem;
  text-align: center;
  width: 13.63636rem;
  margin: 1.36364rem auto;
}
.loginBox .loginForm {
  text-align: left;
  padding: 1.81818rem 2.72727rem;
  position: relative;
}
.loginBox .loginForm div {
  margin-bottom: 0.90909rem;
}
.loginBox .loginForm div input {
  border: none;
  border-bottom: 0.09091rem solid #fff;
  height: 3.18182rem;
  padding-left: 0.45455rem;
  width: 100%;
  background: #4699ff;
  color: #fff;
  font-size: 1.27273rem;
}
.loginBox .loginForm .forget {
  position: absolute;
  font-size: 1.09091rem;
  right: 2.72727rem;
  color: #fff;
}
.loginBox .loginCode {
  margin-top: 2.72727rem;
  text-align: center;
}
.loginBox .loginCode img {
  width: 8.18182rem;
  height: 8.18182rem;
}
.loginBox .loginCode span {
  display: block;
  margin: 0 auto;
  margin-bottom: 1.36364rem;
  width: 7.27273rem;
  height: 7.27273rem;
  border: 0.09091rem solid #fff;
}
.loginBox .loginCode div {
  width: 9.54545rem;
  height: 3.18182rem;
  border-radius: 4.54545rem;
  background: #fff;
  margin: 0 auto;
  margin-top: 1.36364rem;
  color: blue;
  text-align: center;
  line-height: 3.18182rem;
  font-size: 1.45455rem;
}
input::-webkit-input-placeholder {
  color: #fff;
}
input::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #fff;
}
input:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #fff;
}
input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #fff;
}

@charset "utf-8";
.taskBox .taskList {
  padding: 5%;
  padding-top: 4.54545rem;
}
.taskBox .taskList ul {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.taskBox .taskList ul li {
  position: relative;
  padding: 1.36364rem 0;
  border-top: 0.09091rem solid #eee;
  padding-left: 0.90909rem;
}
.taskBox .taskList ul li div p {
  font-size: 1.18182rem;
  width: 80%;
  height: 1.81818rem;
}
.taskBox .taskList ul li div h4 {
  font-size: 1.09091rem;
  width: 80%;
  height: 1.81818rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.taskBox .taskList ul li div span.tag {
  font-size: 0.90909rem;
  position: absolute;
  right: 0;
  top: 1.36364rem;
  border: 0.09091rem solid #4699ff;
  border-radius: 4.54545rem;
  padding: 0 0.54545rem;
}

@charset "utf-8";
.cheader[data-v-73d278ea] {
  position: fixed;
  height: 3.72727rem;
  width: 100%;
  background-color: #4699ff;
  z-index: 9999;
  color: #fff;
}
.postHeight[data-v-73d278ea] {
  height: 3.72727rem;
}
.icon-fanhui[data-v-73d278ea] {
  font-size: 1.45455rem;
}
.doback[data-v-73d278ea] {
  height: -webkit-fill-available;
  width: 5.81818rem;
}
.doback[data-v-73d278ea]:active {
  opacity: 0.5;
}
.ctitle[data-v-73d278ea] {
  font-size: 1.45455rem;
  text-align: center;
  padding-right: 5.81818rem;
}

@charset "utf-8";
.details {
  width: 100%;
  height: 100%;
}
.details-declare {
  width: 90%;
  margin: 2.72727rem auto 0;
}
.details-declare-list {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background: #eeeeef;
  padding: 0 0.45455rem;
  position: relative;
  font-size: 1.09091rem;
  border-bottom: 0.09091rem solid #fff;
}
.details-declare-list .div {
  width: 69%;
  line-height: 2.72727rem;
}
.details-declare-list .div1 {
  width: 20%;
  text-align: right;
}
.details-declare-list-swich {
  position: absolute;
  right: 0.27273rem;
  top: 0.54545rem;
}
.details-declare-list-swich button {
  background: #2680f0;
  color: #fff;
  border: none;
  border-radius: 0.45455rem;
}




































@charset "utf-8";
.details {
  width: 100%;
  height: 100%;
}
.details-declare {
  width: 90%;
  margin: 1.81818rem auto 0;
}
.details-declare-list {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background: #eee;
  padding: 0 0.45455rem;
  position: relative;
  font-size: 1.09091rem;
  border-bottom: 0.09091rem solid #fff;
}
.details-declare-list .div {
  width: 69%;
  line-height: 2.72727rem;
}
.details-declare-list .div1 {
  width: 20%;
  text-align: right;
}
.details-declare-list-swich {
  position: absolute;
  right: 0.18182rem;
  top: 0.18182rem;
}
.details-declare-list-swich button {
  background: #409EFF;
  color: #fff;
  border: none;
  border-radius: 0.45455rem;
}
.details-result {
  padding: 5%;
}
.details-result-cause {
  margin-bottom: 0.45455rem;
  line-height: 3.63636rem;
}
.details-result-cause div {
  line-height: 2.72727rem;
}
.details-result-cause-select {
  background: url(./static/img/select.png?v=46d66f8) no-repeat left center;
  background-size: 100% 100%;
  width: 80%;
  margin-left: 0.90909rem;
  position: relative;
}
.details-result-cause-select p {
  padding-left: 0.90909rem;
  font-size: 1.09091rem;
}
.details-result-cause-select-list {
  position: absolute;
  left: 0;
  width: 86%;
  border: 0.09091rem solid #2680f0;
  border-top: none;
  background: #fff;
  z-index: 10;
}
.details-result-cause-select-list div {
  border-bottom: 0.09091rem solid #eee;
  line-height: 2.72727rem;
  font-size: 1.09091rem;
  padding-left: 0.90909rem;
}
.details-result-cause-select-list .cur {
  color: #409EFF;
}
.details-result-cause-check span {
  display: inline-block;
  width: 50%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  line-height: 2.90909rem;
}
.details-result-cause-check .cur {
  color: #409EFF;
}

@charset "utf-8";
.md-scroll-view .scroll-view-list {
  text-align: center;
}
.md-scroll-view .scroll-view-list p {
  font-size: 1.45455rem;
}

@charset "utf-8";
.mine {
  text-align: center;
  height: 100%;
  background: linear-gradient(20deg, #0f91ef, #06c1f4);
  color: #fff;
  padding: 8% 5%;
}
.mine-titile h2 {
  text-align: center;
  font-size: 1.45455rem;
  margin-bottom: 4.54545rem;
}
.mine-user {
  text-align: center;
}
.mine-user div img {
  width: 9.09091rem;
  height: 9.09091rem;
  border-radius: 50%;
}
.mine-user p {
  margin-top: 1.36364rem;
}
.mine-operation {
  margin-top: 40%;
}
.mine-operation div {
  display: inline-block;
  width: 70%;
  margin-bottom: 1.81818rem;
  border: 0.09091rem solid #fff;
  border-radius: 0.36364rem;
  text-align: center;
  height: 2.72727rem;
  line-height: 2.72727rem;
}

@charset "utf-8";
.sign-list {
  width: 70%;
  margin-left: 7%;
  margin-top: 1.36364rem;
  line-height: 2rem;
}
.sign-list div {
  position: relative;
  padding-left: 0.90909rem;
}

@charset "utf-8";
.switch {
  width: 90%;
  margin: 1.81818rem auto;
}
.switch div {
  width: 50%;
  text-align: center;
  background: #409EFF;
  color: #fff;
  height: 3.63636rem;
  line-height: 3.63636rem;
}
.switch .cur {
  background: #1575ed;
}
.messages-content {
  padding-top: 0.90909rem;
  border-top: 0.09091rem solid #eee;
}
.messages-content-box {
  width: 90%;
  margin: 0.45455rem auto;
}
.messages-content-box-list {
  position: relative;
}
.messages-content-box-list p {
  font-size: 1.09091rem;
  padding-left: 0.90909rem;
  line-height: 2.18182rem;
}

@charset "utf-8";
.switch {
  width: 90%;
  margin: 1.81818rem auto;
}
.switch div {
  width: 50%;
  text-align: center;
  background: #409EFF;
  color: #fff;
  height: 3.63636rem;
  line-height: 3.63636rem;
}
.switch .cur {
  background: #1575ed;
}
.messages-content {
  padding-top: 0.90909rem;
  border-top: 0.09091rem solid #eee;
}
.messages-content-box {
  width: 90%;
  margin: 0.45455rem auto;
}
.messages-content-box-list {
  position: relative;
}
.messages-content-box-list p {
  font-size: 1.09091rem;
  padding-left: 0.90909rem;
  line-height: 2.18182rem;
}

@charset "utf-8";
.material {
  padding: 5%;
  margin-top: 4.54545rem;
}
.material-list div {
  margin-bottom: 0.45455rem;
}
.material-list-dots i {
  width: 0.45455rem;
  height: 0.45455rem;
  border-radius: 50%;
  background: #4699ff;
  display: inline-block;
}
.material-list-btn {
  border: 0.09091rem solid #7e7e7e;
  line-height: 2.54545rem;
  padding: 0 0.45455rem;
  border-radius: 0.45455rem;
  margin-bottom: 0.68182rem !important;
}
.material-list-operation {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.material-list-operation .tag {
  font-size: 0.90909rem;
  border: 0.09091rem solid #4699ff;
  border-radius: 4.54545rem;
  padding: 0 0.54545rem;
}
.material-top {
  width: 90%;
  margin: 0 auto;
  height: 3.63636rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.material-top-search {
  width: 75%;
  position: relative;
}
.material-top-search .md-input-item .md-input-item-control .md-input-item-fake,
.material-top-search .md-input-item .md-input-item-control .md-input-item-input {
  border: 0.09091rem solid #eee;
  border-radius: 0.45455rem;
  height: 3.18182rem;
  padding-left: 0.90909rem;
}
.material-top-search-icon {
  position: absolute;
  right: 0;
  width: 2.72727rem;
  height: 2.72727rem;
  top: 0;
  line-height: 3.18182rem;
}
.material-top-button {
  padding-top: 0.68182rem;
}
.material-table {
  width: 90%;
  margin: 0.90909rem auto 0;
}
.material-table-box {
  border-top: 0.09091rem solid #999;
  border-left: 0.09091rem solid #999;
}
.material-table-box-list {
  width: 20%;
  text-align: center;
  border-right: 0.09091rem solid #999;
  padding: 0.27273rem 0;
}
.material-table-box:last-child {
  border-bottom: 0.09091rem solid #999;
}

@charset "utf-8";
.details {
  width: 90%;
  margin: 1.81818rem auto;
}
.details-search {
  position: relative;
  margin-bottom: 1.81818rem;
}
.details-search .md-input-item .md-input-item-control .md-input-item-fake,
.details-search .md-input-item .md-input-item-control .md-input-item-input {
  border: 0.09091rem solid #eee;
  border-radius: 0.45455rem;
  height: 3.18182rem;
  padding-left: 0.90909rem;
}
.details-search-icon {
  position: absolute;
  right: 0;
  width: 2.72727rem;
  height: 2.72727rem;
  top: 0;
  line-height: 3.18182rem;
}
.details-content {
  margin-bottom: 1.81818rem;
}
.details-content-box {
  border: 0.09091rem solid #ddd;
  width: 70%;
  height: 18.18182rem;
  overflow: auto;
}
.details-content-box-list {
  line-height: 2.54545rem;
  border-bottom: 0.09091rem solid #ddd;
}
.details-content-box-details {
  margin-bottom: 0.45455rem;
}
.details-content-box-details div {
  line-height: 1.81818rem;
}
.details-content-box-details div img {
  width: 1.36364rem;
  height: 1.36364rem;
  vertical-align: middle;
}
.details-content-box .cur {
  background: #4699ff;
  color: #fff;
}
.details-content-box-list:last-child {
  border-bottom: none;
}
.details-content-box:nth-of-type(1) {
  width: 30%;
  margin-right: 3%;
  text-align: center;
}
.details-content-box:nth-of-type(2) {
  padding: 1.36364rem;
}
.details-form-list {
  margin-bottom: 0.90909rem;
}
.details-form-list-border {
  border: 0.09091rem solid #ddd;
  padding: 0.90909rem;
}

@charset "utf-8";
.equipment-while {
  width: 100%;
  position: fixed;
  z-index: 999;
  background: #fff;
  background-color: #fff;
}
.equipment-top {
  margin-top: 1.90909rem;
  height: 3.63636rem;
  width: 100%;
}
.equipment-top-search {
  width: 75%;
  position: relative;
  border: 0.09091rem solid #e5e5e5;
  padding: 0.72727rem;
  border-radius: 0.72727rem;
}
.equipment-top-search .md-input-item .md-input-item-control .md-input-item-fake,
.equipment-top-search .md-input-item .md-input-item-control .md-input-item-input {
  border: 0.09091rem solid #eee;
  border-radius: 0.45455rem;
  height: 3.18182rem;
}
.equipment-top-search-icon {
  margin-top: -0.22727rem;
  position: absolute;
  right: 0;
  width: 2.72727rem;
  height: 2.72727rem;
  top: 0.54545rem;
  line-height: 3.18182rem;
}
.equipment-top-search-code {
  padding: 0 1.81818rem;
}
.equipment-list {
  width: 100%;
  padding: 0 5%;
  margin-top: 3.63636rem;
}
.equipment-list-box {
  text-align: left;
  border-bottom: 0.09091rem solid #4699ff;
  padding-bottom: 0.90909rem;
  padding-left: 0.90909rem;
  padding-right: 0.90909rem;
  margin-bottom: 0.90909rem;
}
.equipment-list-box-bold {
  font-weight: bold;
}
.equipment-list-box div {
  color: #999;
}
.equipment-list-box:last-child {
  border: none;
}
.bottom-search {
  position: static;
}
.md-example-child-scroll-view-3 {
  height: -webkit-fill-available;
  background: #fff;
  top: 0;
  left: 0;
  width: 100%;
}
.md-example-child-scroll-view-3 .scroll-view-item {
  padding: 2.72727rem 0;
  text-align: center;
  font-size: 2.90909rem;
  border-bottom: 0.04545rem solid #efefef;
}
.background-bcid {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}
#bcid {
  margin-top: 1.81818rem;
  z-index: 999;
  height: 23.63636rem;
  width: 14.54545rem;
}

.position-box {
  position: fixed;
  top: 3.63636rem;
  left: 0;
  right: 0;
  bottom: 0;
}
.list-item{
    height:4.54545rem;
}

@charset "utf-8";
.details {
  width: 100%;
  height: 100%;
}
.details-declare {
  width: 90%;
  margin: 2.72727rem auto 0;
}
.details-declare-list {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background: #eee;
  padding: 0 0.45455rem;
  position: relative;
  font-size: 1.09091rem;
}
.details-declare-list .div {
  width: 50%;
  line-height: 2.18182rem;
}
.details-declare-list-swich button {
  background: #409EFF;
  color: #fff;
  border: none;
  border-radius: 0.45455rem;
}
.details-type {
  padding: 5%;
  position: relative;
}
.details-type-titile h4 {
  width: 7.27273rem;
  height: 2.54545rem;
  border-radius: 1.81818rem;
  background: #409EFF;
  color: #fff;
  line-height: 2.54545rem;
  text-align: center;
}
.details-type-content {
  padding: 0.90909rem 0;
}
.details-type-content-list {
  margin-bottom: 0.90909rem;
}
.details-type-content-list-item {
  display: inline-block;
  margin-right: 0.90909rem;
}
.details-type-content-list-item span {
  margin-left: 0.90909rem;
  width: 3.63636rem;
  display: inline-block;
}
.details-type-temp {
  padding: 0.90909rem 0;
}
.details-type-temp div {
  width: 50%;
}
.details-type-set {
  position: absolute;
  right: 0.45455rem;
  background: #409EFF;
  color: #fff;
  border-radius: 0.36364rem;
  width: 4.54545rem;
  height: 2.27273rem;
  line-height: 2.27273rem;
  text-align: center;
}
.footBtb {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #409EFF;
  color: #fff;
  text-align: center;
  line-height: 4.54545rem;
}

@charset "utf-8";
.details {
  width: 100%;
  height: 100%;
}
.details-declare {
  width: 90%;
  margin: 2.72727rem auto 0;
}
.details-declare-list {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background: #eee;
  padding: 0 0.45455rem;
  position: relative;
  font-size: 1.09091rem;
}
.details-declare-list .div {
  width: 50%;
  line-height: 2.72727rem;
}
.details-declare-list-swich button {
  background: #409EFF;
  color: #fff;
  border: none;
  border-radius: 0.45455rem;
}
.details-content {
  width: 90%;
  margin: 2.72727rem auto;
}
.details-content-box {
  border: 0.09091rem dashed #ccc;
  border-radius: 0.54545rem;
  padding: 1.13636rem;
}
.details-content-box-text {
  line-height: 2.09091rem;
  font-size: 1.09091rem;
}
.details-record {
  width: 90%;
  margin: 0 auto;
}
.details-record h2 {
  padding-left: 1.36364rem;
  font-size: 1.63636rem;
  font-weight: bold;
  color: #409EFF;
  line-height: 2.72727rem;
  border-bottom: 0.09091rem solid #409EFF;
}
.details-record ul {
  padding: 1.36364rem;
}
.details-record ul li div {
  line-height: 2.36364rem;
}
